/* Colors related variables */
/* Numbers related variables */
.Button {
	background: var(--theme-color);
	color: #fbfcfb;
	padding: 1rem 6rem;
	border: none;
	cursor: pointer;
}
.Button:focus,
.Button:active {
	outline: 3px solid rgba(168, 189, 152, 0.5);
}
.Button:disabled {
	background: #857e89;
	cursor: not-allowed;
}
