@import '../../styles/shared/mixins';

.Logo {
	display: block;
	position: absolute;
	top: 2rem;
	right: 2rem;

	& h1 {
		position: absolute;
		text-indent: -9999px;
	}

	& img {
		width: 220px;

		@include respond(tab-port) {
			width: 170px;
		}
	}
}
