/*
Media query manager mixin
0-600px:    Phone
600-900px:  Tablet-portrait mode
900-1200px:  Tablet-landscape mode
1200-1800px:  Desktop - this is where all current styles apply
1800px:  xlDesktop
1em === 16px
*/
.Logo {
	display: block;
	position: absolute;
	top: 2rem;
	right: 2rem;
}
.Logo h1 {
	position: absolute;
	text-indent: -9999px;
}
.Logo img {
	width: 220px;
}
@media (max-width: 56.25em) {
	.Logo img {
		width: 170px;
	}
}
