/* Colors related variables */
/* Numbers related variables */
.LoginPage {
	background: #fff;
	min-height: 100%;
	min-width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-template-rows: 1fr min-content;
	position: relative;
	overflow: hidden;
}
.LoginPage__left {
	grid-column: 1 /2;
	padding: 17rem 2rem;
	background-image: linear-gradient(120deg, rgba(0, 128, 128, 0.6), rgba(0, 128, 128, 0.6)),
		url('../../assets/busy_city.jpeg');
	background-position: center center;
	color: #fbfcfb;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 150%;
}
.LoginPage__info {
	grid-column: 1 / 3;
	position: relative;
	z-index: 9;
	background: transparent;
	color: #202124;
	display: grid;
	grid-template-columns: 40% repeat(2, 1fr);
	font-size: 1.7rem;
}
.LoginPage__info__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	text-align: center;
	color: #857e89;
}
.LoginPage__info__block:first-of-type {
	color: #fbfcfb;
}
.LoginPage__info__block:first-of-type small {
	padding-bottom: 2rem;
}
