.App {
	// background: linear-gradient(110deg, rgba($color: #e30714, $alpha: 0.3) 45%, #fff 45%);
	min-height: 60%;
	min-width: 70%;
	box-shadow: 0 2px 5px rgba($color: #000, $alpha: 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
